.composition {
  // Parent of Images are Relative
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

    // Giving Default z-index :
    z-index: 10;

    //Animation
    transition: all 0.2s;

    //Outline offset : Used to provide gap between the Outline & the Image
    outline-offset: 2rem;

    //Overlap the Images
    position: absolute;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }
    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
      }
    }
    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      // Using Outline instead of Border as Outline Provides us feature to add gap between the images and border unlike border property
      outline: 1.5rem solid $color-primary;

      transform: scale(1.05);
      box-shadow: 0 2.4rem 4rem rgba($color-black, 0.5);

      // Higher z-index to put the image in front  than the rest of the others
      z-index: 20;
    }
  }

  // Decrease the Size of Photos that are not hovered
  // As soon as we hover over the Components section applying decrease in image size to those images that are'nt hovered currently
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
