.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;

  // To avoid the gap between the clipped background image of header section & section-about
  // Header = 95vh & image clipped 75vh = 20vh gap
  // Hence moving 20vh up
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 25rem 0;

  //Background Image
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4.jpg);

  //Image Cover
  background-size: cover;

  //Shift to cover the Gap
  margin-top: -10rem;

  // Clip Design to the background Image using skew here and not clip
  transform: skewY(-7deg);

  // Selecting all Direct CHild of Features and Anti Skew them to make them straight
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
  background-color: $color-grey-light-1;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;

  // Relative position as the Parent of bg video
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  // Adding Solid Linear Gradient
  // We can specify direction using the degrees as well
  // 50% states the portion from which / till which we want the gradient
  // when the percentages are same we get a solid gradient style
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);

  //Similar to background-size:cover; but this ensures that the image fits completely in the X direction
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;
    @include respond(tab-land) {
      width: 65%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
