.navigation {
  &__checkbox {
    //hiding the checkbox
    display: none;
  }
  &__button {
    //Dimensions of button initially hiding the background as we want it when we open the nav and not before
    height: 7rem;
    width: 7rem;
    background-color: $color-white;

    //Fix position
    position: fixed;
    top: 6rem;
    right: 6rem;

    border-radius: 50%;

    //placing in front of background
    z-index: 2000;

    // Center the Menu Icon
    text-align: center;

    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;

    //Fix it at the top right
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;

    // Background gradient
    // This tym we use the radial gradient
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    //z-index to keep it in front
    z-index: 1000;

    // To hide it initially we comment this line
    // transform: scale(80);

    //Animation
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    //Placing above the background & behind the button
    z-index: 1501;

    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

    //Hiding Initially
    opacity: 0;
    width: 0;

    //Animation
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &__list {
    //Centering List Items at the center of the page
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    list-style: none;
    text-align: center;

    // Width
    width: 100%;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    display: inline-block;

    span {
      margin-right: 1rem;
      display: inline-block;
    }

    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1rem 2rem;

      // White background animation
      // Solid Linear Gradient
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );

      //To make the Initial state of the Gradient completely transparent we increase the background gradient of transparent to cover the whole text using background-size
      background-size: 220%;

      //Animation
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      //Shifting the background to completely left side so as to make the White gradient visible
      background-position: 100%;

      //set the text color to Primary Green when hovered
      color: $color-primary;

      //Move to right a bit on hovering
      transform: translateX(1rem);
    }
  }

  // Functionality of Navigation Button
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    //Showing on click
    opacity: 1;
    width: 100vw;
  }

  // Creating Icon
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::after,
    &::before {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;

      //Animation
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  //Expand the Icon lines on hovering
  &__button:hover &__icon {
    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  // Cross Symbol
  &__checkbox:checked + &__button &__icon {
    //Removing the Default span middle one
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(135deg);
    }
    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
